[submodule "shared/glib"]
	path = shared/glib
	url = https://gitlab.gnome.org/GNOME/glib.git
[submodule "shared/gdk-pixbuf"]
	path = shared/gdk-pixbuf
	url = https://gitlab.gnome.org/GNOME/gdk-pixbuf.git
[submodule "shared/pango"]
	path = shared/pango
	url = https://gitlab.gnome.org/GNOME/pango.git
[submodule "shared/cairo"]
	path = shared/cairo
	url = https://gitlab.freedesktop.org/cairo/cairo.git
[submodule "shared/gtk"]
	path = shared/gtk
	url = https://gitlab.gnome.org/GNOME/gtk.git
[submodule "shared/graphene"]
	path = shared/graphene
	url = https://github.com/ebassi/graphene.git
[submodule "shared/gtk4-layer-shell"]
	path = shared/gtk4-layer-shell
	url = https://github.com/wmww/gtk4-layer-shell.git
[submodule "shared/adwaita"]
	path = shared/adwaita
	url = https://gitlab.gnome.org/GNOME/libadwaita.git
[submodule "shared/gtksourceview"]
	path = shared/gtksourceview
	url = https://gitlab.gnome.org/GNOME/gtksourceview.git
